:root {
  --primary-background: #ffffff;
  --primary-text-color-dark: #000000;
  --primary-text-color-light: #ffffff;
  --secondary-text-color: #4D4D4D;
  --primary-style-color: #7F7FD5;
  --secondary-style-color-hover:#9292de;
  --primary-syle-color-hover:#5b5b94;
  --primary-style-shade:#EAEBED;
  --secondary-style-shade:#c3c5ca;
  --primary-style-link:#0172B1;
  
}

.form-box {
  background-color: var(--primary-style-shade);
  display: flex;
  height: auto;
  justify-content: center;
}

.form-box .content {
  margin: 20px 0;
  width: 90%;
  border-radius: 10px;
  background-color: var(--primary-background);
  padding: 20px;
}

.form-box .content form{
  display: flex;
  padding: 20px;
  gap: 30px;
}

.form-box .content hr{
  margin: 10px 0;
  opacity: 50%;
  
}

.form-box .content form .job-details{
  display: flex;
  flex-direction: column;
  width: 30%;
}


.form-box .content form .job-details label{
  color: var(--secondary-text-color);
  font-weight: 600;    
  margin: 10px 0;
}

.form-box .content form .job-details input{
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-text-color);
  transition: 0.2s;
}

.form-box .content form .job-details select{
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-text-color);
  transition: 0.2s;
}
.form-box .content form .job-text textarea{
  padding: 10px 20px;
  border-radius: 5px;
  width: 20vw;
  height: 10vh;
  border: 1px solid var(--secondary-text-color);
  transition: 0.2s;
}

.form-box .content form .job-details select:focus{
  outline: none;
  border: 1px solid var(--primary-style-color);
}

.form-box .content form .job-details input:focus{
  outline: none;
  border: 1px solid var(--primary-style-color);
}




.form-box .content form .job-text{
  display: flex;
  flex-direction: column;
}

.form-box .content form .job-text label{
  color: var(--secondary-text-color);
  font-weight: 600;    
  margin: 10px 0;
}

.form-box .content form .job-text textarea:focus{
  outline: none;
  border: 1px solid var(--primary-style-color);
}



.form-box .content form .company-details{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.form-box .content form .company-details label{
  color: var(--secondary-text-color);
  font-weight: 600;    
  margin: 10px 0;
}

.form-box .content form .company-details input{
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--secondary-text-color);
  transition: 0.2s;
}

.form-box .content form .company-details input:focus{
  outline: none;
  border:1px solid var(--primary-style-color);
}

.form-box .content form .input-button input{
  background-color: var(--primary-style-color);
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  font-weight:600;
  color: var(--primary-text-color-light);
  margin: 10px 0;
  width: 100%;
}

.form-box .content form .input-button input:hover{
  cursor: pointer;
  background-color: var(--secondary-style-color-hover);
}