body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f4e3;
}

button {
    color: #fff;
    background-color: #556b2f;
    width: fit-content;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 50px -40px black;
}
button:hover{
    background-color: #718f3e;
    box-shadow: 1px 1px 1px 1px #556b2f inset;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    background-color: #d4a190;
    background-size: cover;
    border:0.5px solid black;
    margin: -8px;
    box-shadow: 0px 0px 75px -30px black;
    z-index: 1000;
}

.logo {
    width: 70px;
    height: 70px;
    margin: 0px 40px;
}

.profile {
    float: right;
    width: 50px;
    height: 50px;
    margin: 12px 40px;
}

.profile::after {
    content: "";
    
}

.header>button {
    float: right;
    margin: 17px 100px;
    width: 100px;
    height: 40px;
}

.search {
    position: absolute;
    right: 50%;
    top: 0px;
    margin: 20px;
}

.search label {
    font-size: 15px;
    padding-right: 20px;
    font-weight: bold;
}

.search input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

h2 {
    color: #d29b10;
}

mark {
    color: white;
    background-color: #a89a92;
    border-radius: 3px;
    padding: 4px;
}

table {
    border: 1px solid black;
    border-radius: 5px;
    width: 60%;
    margin: 25px 20% 0 20%;
    padding: 1%;
    box-shadow: 0px 0px 50px -40px black;
}

td > span {
    color: #6fa80d;
}

table img {
    float: right;
}

.bold-cmp-name{
    font-weight: bold;
}

footer a{
    padding: 0 5px;
    color: black;
}

footer {
    padding: 10px;
    text-align: center;
    bottom: 0;
    background-color: #d4a190;
    background-size: cover;
    border:0.5px solid black;
    margin: -8px;
    margin-top: 15px;
}