.content {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
    line-height: 1.9
}
h2 {
    color: #333;
}
h3 {
    color: #555;
}
p, ul {
    color: #666;
    padding: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin: 5px 0;
    padding: 20px;
}
a {
    color: #7f7fd5;
    text-decoration: none;
}