:root {
    --primary-background: #ffffff;
    --primary-text-color-dark: #000000;
    --primary-text-color-light: #ffffff;
    --secondary-text-color: #4D4D4D;
    --primary-style-color: #7F7FD5;
    --primary-syle-color-hover: #5b5b94;
    --secondary-style-color-hover: #9292de;
    --primary-style-shade: #EAEBED;
    --primary-style-link: #0172B1;
}


.main{
    padding: 20px;
    background-color: var(--primary-style-shade);
    display: grid;
}
.profile-container {  
    padding-top: 1vh;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "profile-description basic-information basic-information"
      "profile-description job-applications job-applications"
      "profile-description job-applications job-applications";
  }
  
.profile-description {
    border-radius: 10px;
    background-color: var(--primary-text-color-light);
    grid-area: profile-description;
    }
  
.basic-information {
    border-radius: 10px;
    grid-area: basic-information;
    background-color: var(--primary-text-color-light);
    }
  
.job-applications {
    border-radius: 10px;
    grid-area: job-applications;
    background-color: var(--primary-text-color-light);
    }
  