:root {
    --primary-background: #ffffff;
    --primary-text-color-dark: #000000;
    --primary-text-color-light: #ffffff;
    --secondary-text-color: #4D4D4D;
    --primary-style-color: #7F7FD5;
    --primary-syle-color-hover: #5b5b94;
    --secondary-style-color-hover: #9292de;
    --primary-style-shade: #EAEBED;
    --primary-style-link: #0172B1;
}


.main-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-style-shade);
    justify-content: center;

}


.container-profile {
    align-items: row;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    width: 90%;
    background-color: var(--primary-background);
    margin: 20px;
    position: relative;
}

.container-profile  h1{
    position: absolute;
    top: 5%;
    left: 5%;
}


.container-profile-info {
    width: 90%;
    align-items: center;
    border-radius: 10px;
    height: 50vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px;
    align-items: center;
}

.profile div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.jobs-application{
    align-items: row;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    width: 90%;
    background-color: var(--primary-background);
    margin: 20px;
    position: relative;
}

.jobs-application-container{
    width: 90%;
    border-radius: 10px;
    height: 50vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.jobs-application h1{
    margin: 20px 25px;
}


.job-applications .skills{
    display: flex;
    gap: 15px;
}

.job-applications .jobs .skills span{
    padding: 2px;
    color: var(--primary-text-color-light);
    background-color: var(--primary-style-color);
}