<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workiee | Admin Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
     <!-- ===========Navbar============-->
     <div class="header">
        <script>
        function logout() {
            sessionStorage.removeItem('UserAccount');
            window.location.href = "{% url 'login' %}";
        }
        </script>
        <nav class="container">
            <i class="fas fa-bars" id="barsIconH"></i>
            <h1 class="logo"><a href="{%url 'index'%}">Workiee</a></h1>
            <div class="search-bar"> <!-- Canceled -->
                <input type="text" id="search-bar" name="search-bar" placeholder="Search for job">
                <i class="fas fa-search"></i>
            </div>
            <ul>
                <li><a href="{%url 'index'%}">Home</a></li>
                <li name="dashboard"><a href="{%url 'admin-dashboard'%} "class="selected">Dashboard</a></li>
                <li><a href="{%url 'browse'%}" >Browse</a></li>
                <li name="login" role="authentication"><a href="{%url 'login'%}">Login</a></li>
                <li name="register" role="authentication"><a href="{%url 'register'%}">Register</a></li>
                <div class="nav-profile">
                    <a href="{%url 'profile'%}"><img src="https://avatar.iran.liara.run/public/37" alt=""></a>
                    <div class="dropdown">
                        <li><a href="{%url 'profile'%}">View Profile</a></li>
                        <li><a href="#" onclick="logout()">Log Out</a></li>
                    </div>   
                    <div>
                        <p>Welcome,</p><span></span>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="drop-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>

    <div class="side-bar" id="side-barID">
        <h1>Dashboard <i class="fas fa-bars" style="float: right;"></i> </h1>
        
        <p>You can find below options to manage your job applications, accept applicants, view more details about your active jobs.</p>
        <div class="side-panel" name="active">
            <i class="fas fa-columns"></i>
            <a href="#">Dashboard</a>
        </div>
        <div class="side-panel">
            <i class="fas fa-users"></i>
            <a href="#">Applicants</a>
        </div>
        <div class="side-panel">
            <i class="fas fa-cog"></i>
            <a href="#">Settings</a>
        </div>
    </div>
    <div class="dashboard" id="dashboardID">
        <div class="card">
            <div><h1>Jobs</h1>
            <p>You have listed <span id="NoOfJobs">0</span> jobs!</p></div>
            <i class="fas fa-briefcase"></i>
        </div>
        <div class="card">
            <div>
            <h1>Applicants</h1>
            <p> You have <span>0</span> applicants!</p></div>
            <i class="fas fa-users"></i>
            </div>
        <div class="card">
            <div>
            <h1>Engagement</h1>
            <p>Your jobs got <span>0</span> clicks!</p></div>
            <i class="fas fa-hand-sparkles"></i>
            </div>
        <div class="card">
            <div class="listed-jobs">
                <div class="control-panel">     
                <h1>Listed Jobs</h1>
                    <div class="buttons">
                        <button onclick="location.href=`{% url 'add' %}`;">Add Job</button>
                        <button id = "editJobButton" >Edit Job</button>
                        <button name="delete-button">Delete Job</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="applicants"> 
                <div class="applicants-head">             
                <h1>Applicants</h1>
                <a>See All</a>
                </div>

                
            </div>
        </div>
    </div>

    <script src="{% static 'js/admin-dashboard.js' %}"></script>    
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>
