<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workiee | Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

</head>


<body>
    <!-- ===========Navbar============-->
    <div class="header">
        <script>
        function logout() {
            sessionStorage.removeItem('UserAccount');
            window.location.href = "{% url 'login' %}";
        }
        </script>
        <nav class="container">
            <h1 class="logo"><a href="{%url 'index'%}">Workiee</a></h1>
            <div class="search-bar"> <!-- Canceled -->
                <input type="text" id="search-bar" name="search-bar" placeholder="Search for job">
                <i class="fas fa-search"></i>
            </div>
            <ul>
                <li><a href="{%url 'index'%}">Home</a></li>
                <li name="dashboard"><a href="{%url 'admin-dashboard'%}">Dashboard</a></li>
                <li name="login" role="authentication"><a href="{%url 'login'%}">Login</a></li>
                <li name="register" role="authentication"><a href="{%url 'register'%} class="selected"">Register</a></li>
                <div class="nav-profile">
                    <a href="{%url 'profile'%}"><img src="https://avatar.iran.liara.run/public/37" alt=""></a>
                    <div class="dropdown">
                        <li><a href="{%url 'profile'%}">View Profile</a></li>
                        <li><a href="#" onclick="logout()">Log Out</a></li>
                    </div>   
                    <div>
                        <p>Welcome,</p><span></span>
                    </div>
                </div>
            </ul>
        </nav>
        <div class="drop-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
    <!-- =========== Registeration form ============-->

    <div class="register-form">
        <div class="container">
            <div class="form-box">
                <form action="{% url 'addUser' %}" id="form" method="post">
                    {% csrf_token %}
                    <h1>Create Your Account</h1>    
                    <div class="input-group">

                        <div class="input-field">
                            <label for="username">Username: </label>
                            <input type="text" id="username" name="username" placeholder="Enter username">
                            <div class="error-message"></div>
                        </div>
            
                        <div class="input-field">
                            <label for="email">Email: </label>
                            <input type="text" id="email" name="email" placeholder="eg. abc@examble.com" >
                            <div class="error-message"></div>
                        </div>
                        <div class="input-field">
                            <label for="password">Password: </label>
                            <input type="password" id="password" name="password" placeholder="Enter password">
                            <div class="error-message"></div>
                        </div>

                        <div class="input-field">
                            <label for="c-password">Confirm Password: </label>
                            <input type="password" id="c-password" placeholder="Write your password again" >
                            <div class="error-message"></div>
                        </div>

                        <div class="input-field" name="radio-field">
                            <input type="checkbox" name="registration-type" value="company-admin" id="company-admin">
                            <label>Are you a company owner?</label>
                        </div>

                        <div class="input-field" name="company-field">
                            <label for="company-name">Company Name: </label>
                            <input type="text" name="company-name"  id="company-name" placeholder="eg. Google">
                            <div class="error-message"></div>
                        </div>

                        <div class="input-button">
                            <input type="submit" name="sign-up" id="sign-up"  value="Sign Up"/></input>
                        </div>
                        <div class="input-field" style="text-align: center;">
                            <p>Already have an account? <a href="{% url 'login' %}" style="text-decoration: none; color: #0172B1;">Login</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<footer>
        <center>
            <a href="#">Get in touch</a>
            <a href="#">About us</a>
            <a href="#">Help</a>
        </center>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
</body>

</html>