.content {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
    line-height: 1.9
}
.content h2 {
    color: #333;
}
.content h3 {
    color: #555;
}
.content p, .content ul {
    color: #666;
    padding: 20px;
}
.content ul {
    list-style-type: none;
    padding: 0;
}
.content ul li {
    margin: 5px 0;
    padding: 20px;
}
.content a {
    color: #7f7fd5;
    text-decoration: none;
}